version: '3.8'
services:
  postgres:
    image: postgres:15.4
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=12345678
    ports:
      - '5432:5432'
    volumes:
      - ./postgres_data:/var/lib/postgresql/data